<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="confirmar-cancelar">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        background-color: #E8F0F7
      }

      .h1{
        text-align: center
      }
    </style>

    <iron-ajax id="borradoContrato"
          url="http://localhost:3000/contratos/cancelar/{{iban}}"
          method="POST"
          handle-as="json"
          on-response="mostrarBorradoContrato"
          on-error="mostrarErrorBorradoContrato">
    </iron-ajax>

    <br><br>
    <h1>Va a cancelar el contrato {{iban}}</h1><br>
    <h2>Si está seguro pulse Confirmar</h2><br>
    <button class="btn btn-danger" on-click="cancelarContrato" iban={{iban}}>Confirmar</button>
    <button class="btn btn-info" on-click="backcontratos">Cancelar</button>
  </template>

  <script>

    class ConfirmarCancelar extends Polymer.Element {
      static get is() { return 'confirmar-cancelar'; }
      static get properties() {
        return {
          iban:{
            type: String
          },
          idcliente: {
            type: Number
          }
        };
      }

      cancelarContrato(e){
        var iban = e.currentTarget.iban
        this.iban = iban
        this.$.borradoContrato.generateRequest()
      }

      mostrarBorradoContrato(resultado){
        this.contratos=resultado.detail.response
        var idcliente = this.idcliente
        this.dispatchEvent(new CustomEvent("contratocancelado", {"detail":{"idcliente":idcliente}}))
      }

      mostrarErrorBorradoContrato(error){
        console.log("Se ha producido error en el borrado de contrato")
        console.log(error.detail.response)
      }

      backcontratos(){
        var idcliente = this.idcliente
        this.dispatchEvent(new CustomEvent("contratocancelado", {"detail":{"idcliente":idcliente}}))
      }

    }

    window.customElements.define(ConfirmarCancelar.is, ConfirmarCancelar);
  </script>
</dom-module>
