<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-movimientos">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        background-color: #E8F0F7
      }

      .pull-right {
         float: right !important;
      }
    </style>

    <iron-ajax id="obtenerMovimientos"
          url="http://localhost:3000/contratos/movimientos/{{iban}}"
          handle-as="json"
          on-response="mostrarMovimientos"
          on-error="mostrarErrorMovimientos">
    </iron-ajax>

    <button class="btn btn-info pull-right" hidden$="{{!showlogout}}" on-click="volvercontratos">Volver a Contratos</button><br>
    <br><br>
    <h2 align="center">Movimientos del contrato {{iban}}</h2><br>

    <table class="table table-striped">
       <thead>
         <th>Fecha</th>
         <th>Concepto</th>
         <th>Importe</th>
       </thead>
       <tbody>
           <template is="dom-repeat" items="{{movimientos}}">
              <tr>
                <td>{{item.fecha}}</td>
                <td>{{item.concepto}}</td>
                <td>{{item.importe}}</td>
              </tr>
          </template>
    </table>
    <br>

  </template>

  <script>
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          iban:{
            type: String,
          },
          idcliente:{
            type: Number
          },
          movimientos:{
            type: Array
          }
        };
      }

      mostrarMovimientos(resultadomovimientos){
        this.movimientos=resultadomovimientos.detail.response[0].movimientos
      }

      mostrarErrorMovimientos(error){
        var idcliente = this.idcliente
        this.dispatchEvent(new CustomEvent("eventogetmvtosko", {"detail":{"idcliente":idcliente}}))
      }

      obtenerMovimientos(iban){
        this.iban = iban
        this.$.obtenerMovimientos.generateRequest()
      }

      volvercontratos(){
        this.dispatchEvent(new CustomEvent("eventovolvercontratos", {"detail":{}}))
      }
    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
