<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mvtos-ko">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        background-color: #E8F0F7
      }

      .h1{
        text-align: center
      }
    </style>
    <br><br>
    <h1>No existen movimientos para este contrato</h1><br><br>
    <button class="btn btn-info" on-click="volvercontratos">Volver a Contratos</button>
  </template>

  <script>

    class MvtosKo extends Polymer.Element {
      static get is() { return 'mvtos-ko'; }
      static get properties() {
        return {
          idcliente:{
            type: Number
          }
        };
      }

      volvercontratos(){
        this.dispatchEvent(new CustomEvent("eventovolvercontratos", {"detail":{}}))
      }
    }

    window.customElements.define(MvtosKo.is, MvtosKo);
  </script>
</dom-module>
