<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-usuario">
 <template>
   <style>
     :host {
       display: block;
       padding: 10px;
       background-color: #E8F0F7
     }
   </style>

   <h1>Pagina de Logout</h1>
   <span hidden$="{{!logado}}">Hasta luego {{nombre}}</td></span>

 </template>

 <script>

   class LogoutUsuario extends Polymer.Element {
     static get is() { return 'logout-usuario'; }
     static get properties() {
       return {
         nombre:{
           type: String
         }
       };
     }
   }

   window.customElements.define(LogoutUsuario.is, LogoutUsuario);
 </script>
</dom-module>
