<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="contrato-ko">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        background-color: #E8F0F7
      }

      .h1{
        text-align: center
      }
    </style>

    <iron-ajax id="altaContrato"
          url="http://localhost:3000/contratos"
          method="POST"
          handle-as="json"
          on-response="mostrarAltaContrato"
          on-error="mostrarErrorAltaContrato">
    </iron-ajax>

    <br><br>
    <h1>No existen contratos activos actualmente</h1><br>
    <button class="btn btn-primary" on-click="contratar">Contratar</button>
  </template>

  <script>

    class ContratoKo extends Polymer.Element {
      static get is() { return 'contrato-ko'; }
      static get properties() {
        return {
          idcliente:{
            type: Number
          },
          estado:{
            type: String,
            value: "A"
          }
        };
      }

      contratar(){
        this.idcliente = sessionStorage.getItem("idcliente")
        this.$.altaContrato.headers.idcliente = this.idcliente
        this.$.altaContrato.generateRequest()
      }

      mostrarAltaContrato(resultado){
        var idcliente = this.idcliente
        this.dispatchEvent(new CustomEvent("eventologado", {"detail":{"id":idcliente}}))
      }

      mostrarErrorAltaContrato(error){
        this.logado = false
      }
    }

    window.customElements.define(ContratoKo.is, ContratoKo);
  </script>
</dom-module>
